/* stile generale */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}


/* header */

header {
  background-color: yellow;
  height: 200px;
  margin-bottom: 10px;
}


/* main  */

main {
  margin-bottom: 10px;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

main .sidebarsinistra,
main .contenutocentrale,
main .siderbardestra,
main .siderbarsotto {
  float: left;
}


/* creazione sidebar */


main .sidebarsinistra {
  background-color: red;
  width: 25%;
  height: 300px;
  margin-right: 2%;s
}

main .contenutocentrale {
  background-color: purple;
  width: 46%;
  height: 500px;
}

main .siderbardestra {
  background-color: red;
  width: 25%;
  height: 200px;
  margin-left: 2%;
}

main .siderbarsotto {
  background-color: red;
  width: 25%;
  height: 200px;
  margin-left: 2%;
  margin-top: 2%
}



/* footer */

footer  {
  background-color: blue;
  height: 200px;
}
